*
{
    margin: 0;
    padding:0;
}

body
{
    background-color: black;
}

#container
{
    width: 1000px;
    height: 1120px;
    margin: 0 auto;
    background-color: rgba(8, 158, 163, 0.884);
}

header
{
    height: 100px;
    width: 940px;
    padding: 25px;
    color:rgb(143, 4, 4);
    line-height: 2.3em;
    text-align: center;
    font-size: 1.75em;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 5px;
    border:crimson;
    border-width:thick;
    border-style: double;
    border-radius: 10em;
}

nav
{
    width: 940px;
    background-color: forestgreen;
    line-height: 200%;
    padding: 10px;
}

nav li{
    display:inline;
    list-style-type: none;
    padding-right: 40px;
}

nav a:link
{
    color: rgb(143, 4, 4);
    text-decoration: none;
}
nav a:visited
{
    color: rgb(143, 4, 4);
}

nav a:hover
{
    text-decoration: underline;
}

nav a:active
{
    color: black;
}

aside
{
    width: 200px;
    height: 400px;
    margin: 0 10px 10px 0; 
    padding: 10px;
   background-color:firebrick;
   float: left;

}

section
{
    width: 680px;
    height: 400px;
    margin: 0 0 10px 0; 
    padding: 10px;
   background-color:firebrick;
   float: right;
}

footer
{
    background-color:forestgreen;
    clear: both;
}
img
{
    float:right;
    margin-right: 20px;
    margin-top: 20px;
}